.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: auto;
}

.loader > span {
    display: inline-block;
    background-color: #56CBF9;
    width: 0px;
    height: 0px;
    border-radius: 10%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: jump 0.7s infinite alternate;
}

.loader >span:nth-child(2){
    background-color: #7FBEEB;
    animation-delay: 0.2s;
}
    
.loader >span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes jump {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0,-16px, 0);
    }
}