@import '/styles/loader.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
html {
    background-color: #696969;
}

h1,h3, p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #F5F5F5;
    
}

h1 {
    text-align: center;
}


h3 {
    font-size: 1.1em;
    text-align: center;
}

p {
    font-size: 15px;
}

.result {
    display: flex;
    flex-direction: column;
    width: 150px;
    min-width: 150px;
    height: 200px;
    margin: 25px;
    padding: 10px;
    border: 1px solid salmon;
    border-radius: 1em;
}

.gamesContainer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 900px;
}
